In [74]:
# reading csv files
# cleaning

import os
import glob
import pandas as pd

class ReadCSV:
    # Initialising class with parent directory
    def __init__(self, parent_dir): 
        self.parent_dir = parent_dir
        os.chdir(parent_dir)
        self.folder = os.path.join(self.parent_dir) # folder where data retrieve are stored

    # Turning csvs to dataframe, each csv as an item in a list
    def list_of_dfs(self): 
        maindfs = []
        monthdfs = []
        os.chdir(self.folder +'/data')
        for file_name in glob.glob('*.csv'):
            month = file_name.split("- ")[1].split(".")[0] #getting the month from the csv file name
            x = pd.read_csv(file_name, header=1,engine='python', skipfooter =4) #making the first row the header 
            x.dropna(how='all', axis=1, inplace=True) #drop empty columns
            x["Month"] = month #getting the month into a column, with header "Month"
            num_lines = len(x)
            y = pd.read_csv(file_name, header = 1, engine='python', skiprows=range(0,num_lines+3))
            y.dropna(how='all', axis=1, inplace=True) #drop empty columns
            y["Month"] = month #getting the month into a column, with header "Month"
            y.rename(columns={'Event ID': 'Total Events'}, inplace=True) #rename column
            maindfs.append(x)
            monthdfs.append(y)
        return maindfs, monthdfs #list of csvs

    # Turning all the indv month dataframes into one big data frame
    def merged_dfs(self): 
        maindfs, monthdfs  = self.list_of_dfs()
        mainmergeddf  = pd.concat(maindfs)
        monthmergeddf = pd.concat(monthdfs)
        return mainmergeddf, monthmergeddf
    
    def download_mergedfiles(self):
        maindf, summarydf = self.merged_dfs()
        filename = "daily_run_sheets.csv"
        maindf.to_csv(os.path.join(self.folder, filename), index=False)
        filename = "summary.csv"
        summarydf.to_csv(os.path.join(self.folder, filename), index=False)

In [75]:

class Main:
    def __init__(self):
        return
    
    def get_dataframe(self, parentdir):
        csvs = ReadCSV(parentdir)
        return csvs.merged_dfs()
    
    def download_mergedfiles(self, parentdir):
        csvs = ReadCSV(parentdir)
        return csvs.download_mergedfiles()

# Getting data
main = Main()
data, summary = main.get_dataframe("/Users/rebecca/predicting-food-waste") #put your own directory here
main.download_mergedfiles("/Users/rebecca/predicting-food-waste")

In [76]:
#Data Exploration
#First 5 rows
data.head()

,Event ID,Guest Count,Building Room,Street Address,SuppliesTime,Food Time,Event Start Time,End Time,Tier,Drop Steward,Pick Up Steward,Event Manager,Month
0,143732,1,GSU,775 Comm Ave,6:30 AM,6:30 AM,6:30 AM,6:30 AM,1,Luis,NO P/U,NaN,September 2022
1,143733,1,GSU,775 Comm Ave,6:30 AM,6:30 AM,6:30 AM,6:30 AM,1,Antonio,NO P/U,NaN,September 2022
2,143734,1,GSU,775 Comm Ave,6:30 AM,6:30 AM,6:30 AM,6:30 AM,1,Luis,NO P/U,NaN,September 2022
3,143735,1,GSU,775 Comm Ave,6:30 AM,6:30 AM,6:30 AM,6:30 AM,1,Luis,NO P/U,NaN,September 2022
4,143736,1,GSU,775 Comm Ave,6:30 AM,6:30 AM,6:30 AM,6:30 AM,1,Luis,NO P/U,NaN,September 2022

In [77]:
#Number of rows
len(data) #5333

5285

In [78]:
#
summary.head()

   Total Events Guest Count           Month
0           553   64,251.00  September 2022
0           560   88,535.00        May 2022
0           664   37,193.00      April 2022
0           477   41,525.00       July 2022
0           126    6,187.00    January 2022